<?xml version="1.0" encoding="utf-8"?>
<settings> 
    <general>
        <add key="logLevel" value="2" />
    </general>
    <lobby>
    </lobby>
    <database>
        <mysql>
            <add key="user" value="root" />
            <add key="pass" value="password" />
        </mysql>
    </database>
</settings>