<?xml version="1.0" encoding="utf-8"?>
<settings> 
    <general>
        <add key="logLevel" value="2" />
    </general>
    <lobby>
      <add key="ip" value="eu.sacred2.net" />
      <add key="port" value="6800" />
    </lobby>
    <chat>
      <add key="ip" value="eu.sacred2.net" />
      <add key="port" value="6801" />
    </chat>
    <database>
        <mysql>
            <add key="user" value="username" />
            <add key="pass" value="password" />
        </mysql>
    </database>
</settings>