<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="settings">
            <section name="general" type="System.Configuration.AppSettingsSection"/>
            <section name="lobby" type="System.Configuration.AppSettingsSection"/>
            <section name="chat" type="System.Configuration.AppSettingsSection"/>
            <sectionGroup name="database">
                <section name="sqlite" type="System.Configuration.AppSettingsSection"/>
                <section name="mysql" type="System.Configuration.AppSettingsSection"/>
                <section name="mongo" type="System.Configuration.AppSettingsSection"/>
            </sectionGroup>
        </sectionGroup>
    </configSections>
    <settings>
            <!--This is the default configuration. Customize it in the lobby.config file in your lobby application directory, not here.
                Both configs are merged, so you only need to specify the values you want to change in the lobby.config. -->
            <general>
                <add key="logLevel" value="1" />
                <add key="logFile" value="test2" />
                <add key="writeStats" value="false" />
            </general>
            <lobby>
                <add key="ip" value="127.0.0.1" />
                <add key="port" value="6800" />
            </lobby>
            <chat>
                <add key="port" value="6801" />
            </chat>
            <database>
                <sqlite>
                    <add key="active" value="true" />
                    <add key="file" value="lobby.sqlite.db" />
                </sqlite>
                <mysql>
                    <add key="active" value="false" />
                    <add key="ip" value="127.0.0.1" />
                    <add key="port" value="3306" />
                    <add key="name" value="s2lobby" />
                    <add key="user" value="username" />
                    <add key="pass" value="password" />
                </mysql>
                <mongo>
                    <add key="active" value="true" />
                    <add key="ip" value="127.0.0.1" />
                    <add key="port" value="27017" />
                    <add key="name" value="s2stats" />
                    <add key="user" value="username" />
                    <add key="pass" value="password" />
                </mongo>
            </database>
    </settings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>
